*{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;

}
:root{
  --text-color: #000000ae;
  --text-color2:#838080;
  --bg-color: #fafafa;
  --bg2-color: #0b0b0b;
  --bg3: #fff;
  --color1:#5252ea  ;
  --color2:#00e7e7  ;
  --color3:#0C0D49 ;
  --color4:#181865 ;
  --color5:#242481 ;
  --blanco: #fff;
 
}

body{
  background-color: var(--blanco);
}

h4,h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@keyframes slideFromLeft {
  from {
      opacity: 0;
      transform: translateX(-20%);
      -webkit-transform: translateX(-20%);
      -moz-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
      -o-transform: translateX(-20%);
}
  to {
      opacity: 1;
      transform: translateX(0);
  }
}



/* Estilo para el desplazamiento suave */
html {
  scroll-behavior: smooth;
}








.heroText,.textDev,.scrolledMovil,.scrolledWeb, a,p,h1 ,.textDev,.servicios,.textDevScroll,.AboutTextScroll,.card-project-y ,.BlogComponentScroll , a{
  opacity: 0;
  animation: slideFromLeft 1s ease-in-out forwards;
  -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}
 nav ,.imgDevWeb { opacity: 0; animation: slideFromCenter 0.55s ease-in-out forwards; -webkit-animation: slideFromCenter 0.55s ease-in-out forwards;
}

.imgHero { opacity: 0; animation: slideUp 1s ease-in-out forwards; -webkit-animation: slideUp 1s ease-in-out forwards;
}



@keyframes slideFromRight {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slideFromCenter {
from {
    opacity: 0;
   
}
to {
    opacity: 10;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
}

@keyframes slideUp {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 10;
      transform: translateY(-4%);
      -webkit-transform: translateY(-4%);
      -moz-transform: translateY(-4%);
      -ms-transform: translateY(-4%);
      -o-transform: translateY(-4%);
}
  }


html::-webkit-scrollbar{
  width: 7px;
  height: 7px;
  cursor: pointer;
  background-color: transparent;
  background-color: var(--blanco);
}

html::-webkit-scrollbar-thumb{
   background-color: var(--color1);
   width: 10px;
   border-radius:20px ;
   cursor: pointer;
}