.logoWeb img{
    width: 100px!important;
     
   }
 
 
 .logoWeb a{
 
   font-size: 16px!important;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
   display: flex;
   align-items: center;
   color: var(--blanco)!important;
  
  
 }
.logoWeb h2{
display: none;
}
 @media (max-width: 900px){
    .logoWeb img{
        width: 60px!important;
         
       }
     
     
     .logoWeb a{
     
       font-size: 13px!important;
      
      
     }
     .logoWeb{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        
     }
     .logoWeb h2{
      display: flex;
      color: var(--blanco);
      }
 }