.logoWeb img{
    width: 100px!important;
     
   }
 
 
 .logoWeb a{
 
   font-size: 16px!important;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif!important;
   display: flex;
   align-items: center;
   color: var(--blanco)!important;
  
  
 }

 @media (max-width: 900px){
    .logoWeb img{
        width: 80px!important;
         
       }
     
     
     .logoWeb a{
     
       font-size: 13px!important;
      
      
     }
     .logoWeb{
        margin-bottom: 1rem;
     }
 }